{% extends 'base.html' %} {% block content %}

<section class="text-center">
    <div class="chatwindow">
        <h2 >Chat Room</h2>
        <h2>Room : {{ session['room'] }}</h2><br>
        <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
        <input type="text" id="text" size="60" placeholder="Enter your message here" />
        <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
        <button type="button" class="btn btn-danger text-center" onclick=leave_room()>Leave this Chat</button></center>
    </div>
  </section>

{% endblock %}