{% extends 'base.html' %}{% block content %}

<!--USER INFO -->
<section class="user">
    <!-- User Profile -->
    <div class="container text-center pb-5">
        <div class="row">
            <div class="col-12"> 
                <!-- USER CONTENT -->
                <div class="user">
                    <i class="fa fa-user-circle fa-10x"></i>
                    <div class="user_info">
                        <br />
                        <h1>{{ current_user.username }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User Profile End -->
</section>

<section class="profile">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <!-- All Playlists Content -->
                <div class="play">
                    <h2 class="title">Your Rooms</h2>
                    <div class="container">
                        <div class="row">
                            {% for room in rooms %}
                            <div class="col-md-4">
                                <div class="card p-2 m-2">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ room.room_name }}</h5>
                                        <a href="/rooms/{{ room._id.room_id }}" class="btn btn-primary btn-md">View Room</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>    
                </div>
            </div>
        </div>
</section>

{% endblock %}

